## Programa para Mochila (Nayves, Greedy)

In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('../data/dados.csv')

In [23]:
df.head(11)

             item  valor  peso  valor/peso
0        notebook   3000   3.0        1000
1         monitor   1000   4.0         250
2         relogio   1000   0.5        2000
3            joia   5000   0.1       50000
4          quadro   2000   4.0         500
5           livro    100   0.5         200
6      ventilador    100   2.0          50
7     jogo xadrez    100   0.5         200
8  celular iphone   2000   0.5        4000
9          tablet   2000   0.5        4000

#### Definições:
<hr/> 
<strong> Objetivo  </strong> : Maximixar o valor, tendo como restrição o Peso máximo | (Função Objetivo) <br />
<strong> Restrição </strong> : Peso Máximo  = 5 kg | (Constraints)<br />
<hr/>

#### Nayves Algorithm

In [25]:
### sortear elemento no dataframe:
df.sample(1)

             item  valor  peso  valor/peso
8  celular iphone   2000   0.5        4000

In [26]:
df.columns

Index(['item', 'valor', 'peso', 'valor/peso'], dtype='object')

In [27]:
### selecionar campo (nome) num datraframe:
df['peso'].values[0]

3.0

In [130]:
mochila      = []
pesos        = []
valores      = []

n            = 100 # 100 interações
peso_limite  = 5
peso_total   = 0
valor_total  = 0

while (peso_total < 5):
    #sortear item na mochila
    temp  = df.sample(1) 
    item  = temp['item'].values[0]
    peso  = temp['peso'].values[0]
    valor = temp['valor'].values[0]
    
    if (peso_total + peso) <=5 :
        mochila.append(item)
        pesos.append(peso)
        valores.append(valor)
        peso_total  = peso_total + peso 
        valor_total = valor_total + valor
        print(item)
    
    if (n > 200):
        peso_total = 6;
    n =n + 1

print(peso_total)

livro
monitor
relogio
5.0

In [131]:
print(mochila)
print(pesos)
print(valores)
print(peso_total)
print(valor_total)

['livro', 'monitor', 'relogio']
[0.5, 4.0, 0.5]
[100, 1000, 1000]
5.0
2100

#### Greed Algorithm

In [182]:
class Item(object):
    def __init__(self, n, v, p):
        self.nome  = n
        self.valor = v
        self.peso  = p
    
    def getNome(self):
        return self.nome
    
    def getValor(self):
        return self.valor
    
    def getPeso(self):
        return self.peso
    
    def __str__(self):
        resultado = '<' + str(self.nome) + ',' + str(self.valor) + ',' + str(self.peso) + '>'
        return resultado

In [180]:
def valor(item):
    return item.getValor()

def pesoInverso(item):
    return 1.0/item.getPeso()

def densidade(item):
    return item.getValor()/item.getPeso()

In [181]:
for index, row in df.iterrows():
    print(row['item'], row['valor'])

notebook 3000
monitor 1000
relogio 1000
joia 5000
quadro 2000
livro 100
ventilador 100
jogo xadrez 100
celular iphone 2000
tablet 2000

In [213]:
def construirItems():
    Items = []
    for index, row in df.iterrows():
        n = row['item']
        v = row['valor']
        p = row['peso']
        Items.append(Item(n,v,p))
    return Items

In [215]:
p

[3.0, 4.0, 0.5, 0.1, 4.0, 0.5, 2.0, 0.5, 0.5, 0.5]

In [216]:
sorted(p, reverse=True)

[4.0, 4.0, 3.0, 2.0, 0.5, 0.5, 0.5, 0.5, 0.5, 0.1]

In [236]:
def greedy(items,maxPeso,funcaoChave):
    itemsCopia = sorted(items, key=funcaoChave, reverse =True)
    resultado  = []
    totalValor = 0.0
    totalPeso  = 0.0
    for i in range(len(itemsCopia)):
        if (totalPeso + itemsCopia[i].getPeso()) <= maxPeso:
            resultado.append(itemsCopia[i])
            totalPeso +=itemsCopia[i].getPeso()
            totalValor+=itemsCopia[i].getValor()
    return(resultado,totalValor,totalPeso)

In [268]:
def testar(items, restricao, funcaoChave):
    selecionados, val, p = greedy(items,restricao,funcaoChave)
    print('Valor Total', val, 'Peso Total', p)
    its = ''
    for item in selecionados:
        its = its + '-' + str(item.getNome())
    print(its)

In [265]:
def executar(maxPeso = 5):
    items = construirItems()
    print('maximixar p valor: ')
    testar(items,maxPeso,valor)  
    print(' --------------')
    print('minimizar o peso :')
    testar(items,maxPeso,pesoInverso)
    print('--------------')
    print('minimizar a densidade valor/peso :')
    testar(items,maxPeso,densidade)

In [269]:
executar()

maximixar p valor:
Valor Total 13000.0 Peso Total 4.6
-joia-notebook-celular iphone-tablet-relogio
 --------------
minimizar o peso :
Valor Total 10300.0 Peso Total 4.6
-joia-relogio-livro-jogo xadrez-celular iphone-tablet-ventilador
--------------
minimizar a densidade valor/peso :
Valor Total 13000.0 Peso Total 4.6
-joia-celular iphone-tablet-relogio-notebook

https://klauslaube.com.br/2019/01/27/os-greedy-algorithms.html